* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    width: 1600px;
    padding: 2rem;
    overflow: hidden;
    background: black;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url(../Multimedia/Images/fondo.jpg);
}

.menu {
    display: flex;
}

.menu p {
    padding: 5px;
    margin-right: 2rem;
    cursor: pointer;
    font-family: 'Harlow Solid';
    font-size: 40px;
    text-align: center;
    background-color: transparent;
    color: white;
    box-shadow: 5px 5px 20px white;

    text-shadow: 0px 0px 10px black;
    border-radius: 50px;
    border: solid 1px;
}

.menu p:hover {
    color: #ffc65f;
}

.content {
    margin-top: 2rem;
}

[data-content] {
    display: none;
}

.active[data-content] {
    display: block;
}

.divPresentacion {
    background-color: transparent;
    width: 100%;
}

h1 {
    width: 80%;
    height: 60px;
    color: white;
    text-shadow: 0px 0px 5px black;
    padding: 1rem;
    background-color: #00000059;
    display: block;
}

.txtPresentacion {
    top: 60px;
    font: bold 16px 'Comic Sans MS';
    text-align: justify;
    text-shadow: 0px 0px 5px black;
    padding: 1rem;
    width: 60%;
    height: 400px;
    color: white;
    background-color: #00000059;
}

.txtPresentacionEdad {
    font: bold 16px 'Comic Sans MS';
    text-shadow: 0px 0px 5px black;
    color: white;
}

.txtCV {
    position: relative;
    top: -430px;
    color: white;
    text-align: center;
    font: bold 12px 'Comic Sans MS';
    z-index: 2;
}

.divFotoPerfil {
    position: relative;
    top: -400px;
    left: 60%;
    max-width: 20%;
    min-width: 20%;
    height: 400px;
    background-color: #00000059;
}

.fotoPerfil {
    min-width: 100%;
    max-width: 100%;
    display: flex;
    cursor: pointer;
    padding: 2.5rem;
}

/*@media screen and (max-height: 800px) {
    .txtPresentacion {
        font-size: 18px;
    }
}

@media screen and (max-height: 600px) {
    
}

@media screen and (max-height: 550px) {
    body {
        overflow-y: scroll;
    }
    .txtPresentacion {
        overflow-y: scroll;
    }    
}

@media screen and (max-height: 750px) {
    body {
        background-size: 200%;
        background-repeat: no-repeat;
        background-image: url(../Multimedia/Images/fondo.jpg);
        overflow-y: scroll;
    }
    .txtPresentacion {
        width: 100%;
        font-size: 18px;

    }
    .divFotoPerfil {
        display: none;
    }
    .menu p {
        display: none;
    }

    .divPresentacion {
        position: absolute;
        top: 0;
        left: 0;
    }

    .divRepositorio {
        position: absolute;
        top: 0;
        left: 0;
    }

    .divInstagram {
        position: absolute;
        top: 0;
        left: 0;
    }

    .divContacto {
        position: absolute;
        top: 0;
        left: 0;
    }

    .divFotoInstagram {
        position: absolute;
        top: 0;
        left: 0;
        max-width: 20%;
        min-width: 20%;
        height: 200px;
        background-color: #00000059;
    }

    .divContacto{
        position: absolute;
        width: 100%;
    }

    .txtContacto {
        position: absolute;
        top: 60px;
        left: 0;
        font-size: 18px;
        text-align: justify;
        width: 100%;
    }
}*/

.divRepositorio {
    background-color: transparent;
    width: 100%;
}

.txtRepositorio {
    font: bold 22px 'Comic Sans MS';
    text-align: justify;
    text-shadow: 0px 0px 5px black;
    width: 20%;
    height: 401px;
    color: white;
    background-color: #00000059;
    text-align: center;
}

.divFotoRepositorio {
    position: relative;
    top: -401px;
    left: 20%;
    max-width: 60%;
    min-width: 60%;
    height: 401px;
    background-color: #00000059;
}

.fotoRepositorio {
    position: relative;
    min-width: 95%;
    max-width: 95%;
    cursor: pointer;
    vertical-align: middle;
    top: -13%;
    left: 2%;
}

.txtInstagram {
    font: bold 16px 'Comic Sans MS';
    text-align: justify;
    text-shadow: 0px 0px 5px black;
    width: 20%;
    height: 401px;
    color: white;
    background-color: #00000059;
    text-align: justify;
    padding: 1.5rem;
}

.divFotoInstagram {
    position: relative;
    top: -401px;
    left: 20%;
    max-width: 60%;
    min-width: 60%;
    height: 401px;
    background-color: #00000059;
}

.fotoInstagram {
    position: relative;
    min-width: 73%;
    max-width: 73%;
    cursor: pointer;
    vertical-align: middle;
    top: -13%;
    left: 13%;
}

.txtContacto1 {
    font: bold 22px 'Comic Sans MS';
    text-align: justify;
    text-shadow: 0px 0px 5px black;
    width: 43%;
    height: 337px;
    color: white;
    padding: 3rem;
    background-color: #00000059;
}

.txtContacto2 {
    position: relative;
    top: -337px;
    left: 43%;
    font: bold 22px 'Comic Sans MS';
    text-align: center;
    text-shadow: 0px 0px 5px black;
    width: 37%;
    height: 337px;
    color: white;
    background-color: #00000059;
}

.logo_gmail{
    position: relative;
    width: 10%;
    top: 13%;
    left: 17%;
}

.logo_tel {
    position: relative;
    width: 14%;
    top: 17%;
    left: 15%;
}