@import url('https://fonts.googleapis.com/css?family=Montserrat|Montserrat+Alternates|Poppins&display=swap');

body {
    overflow: hidden;
    width: 100%;
    background-size: 100%;
    background-repeat: space;
    background-image: url(../Multimedia/Gif/fondo2.gif);
}

@media screen and (max-width: 1300px) {
    .div-h1 {
        display: grid;
        justify-content: center;
    }
    .divBtn {
        display: grid;
        justify-content: center;
        width: 100%;
    }
    .btnIngresar {
        width: 100%;
        margin-left: 0 !important;
    }
    .stl-subtitulo-ingresar {
        padding-left: 10% !important;
    }
    .primerNombre {
        margin-left: 0 !important;
        margin-top: 30% !important;
    }
    .segundoNombre {
        padding-left: 0 !important;
        margin-top: -20% !important;
        margin-bottom: -20% !important;
    }
    .apellido {
        padding-left: 0 !important;
    }
    .div-primerNombre {
        display: grid;
        justify-content: center;
    }
    .div-segundoNombre {
        display: grid;
        justify-content: center;
    }
    .div-apellido {
        display: grid;
        justify-content: center;
    }
}

@media screen and (max-width: 400px) {
    .stl-titulo-ingresar {
        font-size: 40px;
    }
    .stl-subtitulo-ingresar {
        font-size: 13px;
    }
    .btnIngresar {
        font-size: 55px !important;
    }
    .primerNombre {
        font-size: 40px;
    }
    .segundoNombre {
        font-size: 40px;
    }
    .apellido {
        font-size: 40px;
    }
}

@media screen and (max-width: 250px) {
    .stl-titulo-ingresar {
        font-size: 30px;
    }

    .stl-subtitulo-ingresar {
        font-size: 9px;
    }

    .btnIngresar {
        font-size: 40px !important;
    }

    .primerNombre {
        font-size: 30px;
    }

    .segundoNombre {
        font-size: 30px;
    }

    .apellido {
        font-size: 30px;
    }
}

h1 {
    padding: .5rem;
    font-size: 60px;
    font-family: 'Montserrat Alternates', sans-serif;
    font-style: italic;
    color: white;
}

.stl-titulo-ingresar {
    margin-top: -1%;
    padding-bottom: 5%;
}

.stl-subtitulo-ingresar {
    color: white;
    padding-left: 14%;
}

p {
    padding: .5rem;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 50px;
    color: white;
    text-shadow: 0px 0px 10px black;
}

.primerNombre {
    margin-left: 45%;
    margin-top: -10%;
}

.segundoNombre {
    padding-left: 55%;
}

.apellido {
    padding-left: 70%;
}

.divBtn {
    cursor: pointer;
    position: sticky;
    z-index: 1;
}

.btnIngresar {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 65px;
    background-color: transparent;
    border-color: transparent;
    cursor: pointer;
    color: white;
    text-shadow: 0px 0px 10px black;
    box-shadow: 5px 5px 20px white;
    border-radius: 50px;
    border: solid 1px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    margin-left: 14%;
    margin-top: 6%;
    padding: 15px;

}

.btnIngresar:hover {
    color: #beff00;
}

.div-apeNom {
    
}

.div-primerNombre{

}

.div-segundoNombre{
    
}

.div-apellido{

}

.div-h1 {
    width: 100%;
}

.div-container{
    width: 100%;
}